body{
    margin: 0;
    font-family: pizza Press Fill;
   
}

.top-navi .blueHead{
    text-align: center;
}

.blueHead{
    background: #00658f;
}

.blueHead img{
    align-items: center;
    justify-content: space-between;
    padding: .3em 3.4em;
    position: relative;
}

.blueHead p{
    position: relative;
    color: white;
    right: 4em;
    font-size: .7rem;
    margin-top: 1.6em;
    align-items: center;
}

.whiteHead {
    border-bottom: 1px solid rgb(212, 212, 212);
    text-align: center;
    display: flex;
}

.whiteHead p{
   flex: 1;
   margin: 0;
  
    padding: .4em 4em;
    font-size: 1.1rem; 
    font-weight: 300;
}

.whiteHead a{
    text-decoration: none;
    color: #00658f;
}

.whiteHead a:hover{
    color: rgba(44, 44, 44, 0.836);
}

main .form-content h1{
    
    text-align: center;
    color:#00658f;
    font-weight: 100;
}

.btn-container{
   margin: .7em;
   text-align: center;
    box-shadow: 5px 6px 11px 1px #777;
    background: #ff002b;
    color:white;
}

.btn-container h2{
    font-weight: 100;
    font-size: 1.8em;
}

.btn-container:hover{
    background-color: rgb(216, 126, 1);
    box-shadow: 0 0 0 0;
}

.main-container{
   
    padding: 1em;
}

.main-container img{
    width: 100%;
    height: fit-content;
}

.btn-menu{
    display: flex;
}

input[type="button"] {
    flex: 1;
    margin: .1em;
    height: fit-content;
    font-size: 2em;
    width: 100%;
    background: #ff002b;
    font-family: pizza Press Fill;
    color: white;
    box-shadow: 5px 6px 11px 1px #777;
}

input[type="button"]:hover{
    background-color: rgb(216, 126, 1);
    box-shadow: 0 0 0 0;
}

.your-order{
    background: #0090ce;
    border-radius: 12px;
    margin-top: 1em;
    padding: 0 4em;
}

.your-order h1{
    margin-top: 0;
    flex: 1;
    color: white;
    text-align: center;
}

.order-section{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.order-section .btn-del >button{
    flex: 1;
    text-align: center;
    background: #ff002b;
    border: none;
    padding: .4em 1em;
    color: white;
    font-size: 1.2rem;
    font-family: pizza Press Fill;
    margin-bottom: 1em;
  
}

.order-section label{
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: white;
    padding: 0 1em;
    margin-bottom: 1.2em;
}

.order-section .btn-take >button{
    flex: 1;
    text-align: center;
    background: #ff002b;
    border: none;
    padding: .4em 1em;
    color: white;
    font-size: 1.2rem;
    font-family: pizza Press Fill;
    margin-bottom: 1em;
}

.btn-del button:hover{
    background-color: rgb(216, 126, 1);
    box-shadow: 0 0 0 0;
}

.btn-take button:hover{
    background-color: rgb(216, 126, 1);
    box-shadow: 0 0 0 0;
}
/* @media screen and (max-width: 500px){
    .main-container{
       padding: 0 1em;
    }
}

 */
